.year-2018 { background-color: #e0ffe6; }
.year-2019 { background-color: #ffe2fb; }
.year-2020 { background-color: #ffe7d4; }
.year-2021 { background-color: #cdf1ff; }
.year-2022 { background-color: #faffb0; }
.year-2023 { background-color: #d4ffec; }
.year-2024 { background-color: #ffe1df; }
.year-2025 { background-color: #e4f5ff; }
.year-2026 { background-color: #f3ffd9; }
.year-2027 { background-color: #eeefff; }
.year-2028 { background-color: #ecfff8; }
.year-2029 { background-color: #ffebe6; }
.year-2030 { background-color: #f3ffc8; }

.month-01 { background-color: #e5f8ff; }
.month-02 { background-color: #f8ffcc; }
.month-03 { background-color: #fffcba; }
.month-04 { background-color: #ffe06f; }
.month-05 { background-color: #ffd4cf; }
.month-06 { background-color: #ffc8db; }
.month-07 { background-color: #e9d3ff; }
.month-08 { background-color: #aec8ff; }
.month-09 { background-color: #b6ecff; }
.month-10 { background-color: #b0eae1; }
.month-11 { background-color: #c5c1d5; }
.month-12 { background-color: #cfe2e2; }

.day-group-0 { background-color: #fffce1; }
.day-group-1 { background-color: #fff3f1; }
.day-group-2 { background-color: #e8f0ff; }
.day-group-3 { background-color: #f0ffe8; }

